{% extends "../base_panel.html" %}
{% block title %}آدرس ها{% endblock %}
{% load static %}
{% block dashboard_content %}
<div class="col-xl-9">
    <div class="row gy-4 align-items-center">
        <div class="col-6">
            <div class="section-title-title">
                <h2 class="fw-900 h4">آدرس های<span class="with-highlight ms-1">ثبت شده</span>
                </h2>
                <div class="Dottedsquare"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="text-end">
                <a data-bs-toggle="modal" data-bs-target="#addAddressModal" href=""
                   class="btn main-color-one-bg rounded-3 btn-action-panel"><i
                        class="bi bi-pencil-square me-2"></i>ثبت آدرس</a>
            </div>
        </div>
    </div>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <div class="content mt-4">
        <div class="slider-parent rounded-4 border-ui content-box">
            <div class="container-fluid">
                {% if addresses %}
                <div class="ui-box-item-desc bg-white">
                    <div class="orders">
                        {% for address in addresses %}
                        <div class="order-item{% if not forloop.last %} border-bottom{% endif %}">
                            <div class="order-item-status flex-nowrap">
                                <div class="order-item-status-item">
                                    <p>{{ address.address_line }}</p>
                                </div>
                                <div class="order-item-status-item dropd-status">
                                    <div class="dropdown">
                                        <a class="" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical text-dark fs-5"></i>
                                        </a>
                        
                                        <ul class="dropdown-menu flex-column" aria-labelledby="dropdownMenuLink" style="">
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> ویرایش </a></li>
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-trash text-danger"></i> حذف </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="order-item-detail border-0">
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="d-flex flex-column">
                                        <div class="text-muted d-flex align-items-center mb-2">
                                            <i class="bi bi-pin-map me-2"></i>
                                            <p>{{ address.city }}</p>
                                        </div>
                                        <div class="text-muted d-flex align-items-center mb-2">
                                            <i class="bi bi-pin-map me-2"></i>
                                            <p>{{ address.state }}</p>
                                        </div>
                                        <div class="text-muted d-flex align-items-center mb-2">
                                            <i class="bi bi-envelope me-2"></i>
                                            <p>{{ address.postal_code }}</p>
                                        </div>
                                        <div class="text-muted d-flex align-items-center mb-2">
                                            <i class="bi bi-phone me-2"></i>
                                            <p>{{ email }}</p>
                                        </div>
                                    </div>
                                    <img src="{% static 'image/emptyAddress.webp' %}" alt="" class="img-thumbnail w-150-px h-150-px object-fit-cover" style="pointer-events: none;">
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                    {% else %}
                    <div class="order-list--empty">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150"
                             viewBox="0 0 150 150" fill="none">
                            <path d="M14.8323 44.1052L93.1651 29.6021L106.815 103.327L28.4823 117.83L14.8323 44.1052Z"
                                  fill="#B3B9BF"></path>
                            <path d="M29.8665 22.2656L14.843 44.1164L44.8008 38.5688L93.1969 29.6086L108.22 7.75781L29.8665 22.2656Z"
                                  fill="#C0C2C9"></path>
                            <path d="M108.22 7.75781L93.1965 29.6086L106.851 103.355L121.875 81.5039L108.22 7.75781Z"
                                  fill="#A6ABB3"></path>
                            <path d="M44.7856 38.5598L63.2169 35.1473L68.7622 65.0981L50.331 68.5106L44.7856 38.5598Z"
                                  fill="#9BA1A8"></path>
                            <path d="M63.2391 35.1539L44.8008 38.5687L59.8242 16.7179L78.2625 13.3054L63.2391 35.1539Z"
                                  fill="#9BA1A8"></path>
                            <path d="M21.0938 21.0938H16.4062C16.4062 12.0492 23.7656 4.6875 32.8125 4.6875H35.1562V9.375H32.8125C26.3508 9.375 21.0938 14.632 21.0938 21.0938Z"
                                  fill="#9BA1A8"></path>
                            <path d="M111.875 135.312H109.531V130.625H111.875C118.337 130.625 123.594 125.368 123.594 118.906H128.281C128.281 127.951 120.922 135.312 111.875 135.312Z"
                                  fill="#9BA1A8"></path>
                            <path d="M104.844 128.281H102.5V123.594H104.844C111.305 123.594 116.562 118.337 116.562 111.875H121.25C121.25 120.92 113.891 128.281 104.844 128.281Z"
                                  fill="#9BA1A8"></path>
                        </svg>
                        <p class="order-list__empty-text">آدرسی موجود نیست!</p></div>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!--============ start edit profile modal ==============-->
<div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addAddressModalLabel">افزودن آدرس جدید</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addAddressForm" method="POST">
                    {% csrf_token %}
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="comment-item">
                                <input type="text" class="form-control" id="address_line" name="address_line" placeholder="آدرس خیابان را وارد کنید..." required>
                                <label for="address_line" class="form-label label-float fw-bold">آدرس خیابان <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="comment-item">
                                <input type="text" class="form-control" id="city" name="city" placeholder="شهر را وارد کنید..." required>
                                <label for="city" class="form-label label-float fw-bold">شهر <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="comment-item">
                                <input type="text" class="form-control" id="state" name="state" placeholder="استان را وارد کنید..." required>
                                <label for="state" class="form-label label-float fw-bold">استان <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="comment-item">
                                <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="کد پستی را وارد کنید..." required>
                                <label for="postal_code" class="form-label label-float fw-bold">کد پستی <span class="text-danger">*</span></label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn main-color-one-bg border-0">
                                    افزودن آدرس
                                </button>
                            </div>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>  
<!--============ end edit profile modal ==============-->

{% endblock %}